<configuration debug="true" scan="true" scanPeriod="30 seconds">

    <conversionRule conversionWord="traceId" class="io.eordie.multimodule.common.logger.TraceIdConverter"/>
    <conversionRule conversionWord="spanId" class="io.eordie.multimodule.common.logger.SpanIdConverter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %traceId -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <include file="resources/mount/loggers-include.xml"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>